{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<section id="top">
    <div id="div_1">
        <div id="div_3">
            <div id="div_2"><img src="img/spices.jpg"></div>
            <div id="div_2"><img src="img/spices.jpg"></div>
            <div id="div_2"><img src="img/spices.jpg"></div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Reviews</h1>

            <h2>- Note in Fashion by Mark</h2>
            <img src="img/vegetables.jpg">
            <a href="#"><h2>- View</h2></a>
        </div>
        <div class="col-md-4">
            <h1>Reviews</h1>

            <h2>- Note in Fashion by Mark</h2>
            <img src="img/vegetables.jpg">
            <a href="#"><h2>- View</h2></a>
        </div>
        <div class="col-md-4">
            <h1>Reviews</h1>

            <h2>- Note in Fashion by Mark</h2>
            <img src="img/vegetables.jpg">
            <a href="#"><h2>- View</h2></a>
        </div>
    </div>
    </div>
</section>
{% endblock %}